name: test

env:
  is-master-branch: ${{ github.ref == 'refs/heads/master' }}
  is-next-branch: ${{ github.ref == 'refs/heads/next' }}
  is-pull-request: ${{ github.event_name == 'pull_request' }}

on:
  push:
    branches:
      - master
      - next
  pull_request:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}

      - name: Install dependencies
        run: npm run ci:install

      - run: npm run format:check
      - run: npm run ci:lint

      - name: Merge - Build all projects
        if: ${{ env.is-master-branch == 'true' || env.is-next-branch == 'true' }}
        run: npm run ci:build

      - name: Merge - Test all projects
        if: ${{ env.is-master-branch == 'true' || env.is-next-branch == 'true' }}
        run: npm run ci:test

      - name: Publish Test Reportnpm run f
        uses: mikepenz/action-junit-report@v4
        if: always()
        with:
          report_paths: "**/reports/unit/**/*.xml"
